form {
  margin: 50px 0px;
  width: 100%;
}

form div {
  margin-bottom: 30px;
  width: 100%;
}

label, input, textarea {
  display: block;
  font-family: var(--sans-serif);
}

label {
  margin-bottom: 10px;
}

input, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid var(--light-grey);
  font-size: 16px;
}

input:hover, textarea:hover {
  background: rgb(243, 243, 243);
}

.is-valid {
  border: 1.5px solid rgb(111, 211, 111);
  border-radius: 2px;
}

.is-invalid {
  border: 1.5px solid rgb(210, 78, 78);
  border-radius: 2px;
}
