/* PROJECT THUMBNAILS */

.projects-container {
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}



.project img {
  width: 100%;
  transition: ease-out 0.2s;
}

.project img:hover{
  opacity: 0.8;
}

/* PROJECT PAGE */

.about p {
  font-size: 20px;
  margin-bottom: 20px;
}

iframe {
  margin-top: 30px;
  width: 100%;
  height: 500px;
}

.link {
  text-decoration: underline;
}

.links-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.technologies {
  margin-top: 20px;
}

.technologies .label {
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
  border-radius: 50px;
  padding: 5px 15px;
}
