
.profile {
  border-radius: 50%;
}

.image-container {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.image-container div {
  width: 150px;
}

.title {
  font-family: var(--secondary-font);
  font-size: 32px;
  margin-left: 20px;
}


.date {
  font-style: italic;
  font-size: 16px;
}
