.grid-2 {
  margin-top: 40px;
  display: grid;
  grid-gap: 30px;
  grid-template-columns: 1fr 1fr;
}

.grid-2 div {
  margin-bottom: 10px;
}

/* - - - - - - - */

/* MEDIA QUERIES */

@media(max-width: 720px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}
