@media(max-width: 1000px) {
  .container {
    width: 80%;
  }

  .container-small {
    width: 80%;
  }

  .iframe-container {
    width: 80%;
  }
}


@media(max-width: 720px) {
  .grid-2 {
    grid-template-columns: 1fr;
  }
}

@media(max-width: 540px) {
  .container {
    flex-direction: column;
    align-items: flex-start;
  }

  .projects-container {
    grid-template-columns: 1fr;
  }

  .project {
    width: 100%;
    margin-bottom: 10px;
  }

  .introduction {
    font-size: 20px;
  }

  .about {
    font-size: 18px;
  }
}
