
.container {
  width: 1000px;
  margin: 0 auto;
}

.container-small {
  width: 800px;
  margin: 0 auto;
}

.section {
  width: 100%;
  padding: 50px 0px;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
