@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

:root {
  --main-font: 'Lato', sans-serif;
  --secondary-font: 'Playfair Display', serif;
  --sans-serif: 'Inter', sans-serif;
  --secondary-color: #555555;
  --light-grey: #eeeeee;
  --ticket-main-color: #feefae;
  --harumi-main-color: #bdcbcf;
  --lauras-main-color: #d4a3bc;
  --chat-main-color: #e2e2fb;
  --foods-main-color: #3f7a6c;
  --design-main-color: #ceebd4;
  --blue: #3c3cd9;
  --html: #e34c25;
  --css: #7652ac;
  --scss: #c6538c;
  --js: #f1e05a;
}


/* BACKGROUND COLORS */

.ticket {
  background: var(--ticket-main-color);
}

.harumi {
  background-color: var(--harumi-main-color);
}

.lauras {
  background-color: var(--lauras-main-color);
}

.chat {
  background-color: var(--chat-main-color);
}

.foods {
  background-color: var(--foods-main-color);
}

.design {
  background: var(--design-main-color);
}

.grey {
  background-color: var(--light-grey);
}

.html {
  background-color: var(--html);
}

.scss {
  background-color: var(--scss);
}

.css {
  background-color: var(--css);
}

.js {
  background-color: var(--js);
}
